/* Palette de couleurs Horizon Belle-Isle */
:root {
  --blue: #4E7FBF;
  --yellow-light: #D9BB25;
  --yellow-dark: #D9AD29;
  --brown: #8C591B;
  --white: #F2F2F2;
  --text-color: #333;
  --border-color: #86a8d9;
}
